@model DatosCliente

@{
    ViewData["Title"] = "tabla";

    float Monto_Prestamo = Model.Monto_Del_Prestamo;

    int Plazo = Model.Plazo;
    float InteresMensual = Model.tasa_interes_mensual;
    float InteresAnual = Model.tasa_interes_anual;
    float Pago = Model.pago;
    float InteresPagado = Model.Interes_Pagado;
    float CapitalPagado = Model.capital_pagado;
    int i = 1;

    InteresMensual = (InteresAnual / 100) / 12;


    Pago = InteresMensual + 1;
    Pago = (float)Math.Pow(Pago, Plazo);
    Pago = Pago - 1;
    Pago = InteresMensual / Pago;
    Pago = InteresMensual + Pago;
    Pago = Monto_Prestamo * Pago;




}




<div class="DivEncimaTabla">

    <table class="table table-borderless table-hover tableAmortizada">
        <thead>
            <tr class="tr1Amortizado" style="background:saddlebrown">

                <th>#</th>
                <th>Pago</th>
                <th>Interes</th>
                <th>Capital</th>
                <th>Monto del prestamo</th>

            </tr>
        </thead>



        @for (i = 1; i <= Plazo; i++)
        {
            InteresPagado = InteresMensual * Monto_Prestamo;

            CapitalPagado = Pago - InteresPagado;
            Monto_Prestamo = Monto_Prestamo - CapitalPagado;

            <tbody>
                <tr class="trAmortizada">
                    <td style="font-size:20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">

                        @i
                    </td>
                    @if (Pago < 0)
                    {

                        <td style="color:red;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(Pago,2)
                        </td>
                    }
                    else
                    {
                        <td style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(Pago,2)
                        </td>
                    }
                    @if (Pago < 0)
                    {

                        <td style="color:red;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(InteresPagado,2)
                        </td>
                    }
                    else
                    {
                        <td style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(InteresPagado,2)
                        </td>
                    }
                    @if (Pago < 0)
                    {

                        <td style="color:red;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(CapitalPagado,2)
                        </td>
                    }
                    else
                    {
                        <td style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(CapitalPagado,2)
                        </td>
                    }

                    @if (Monto_Prestamo < 1)
                    {

                        <td style="color:red;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(Monto_Prestamo,4)
                        </td>
                    }
                    else
                    {
                        <td style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @Math.Round(Monto_Prestamo,2)
                        </td>
                    }



                </tr>

            </tbody>

        }
    </table>
</div>













<style>
    body {
        min-height: 100vh;
        position: absolute;
        inset: 0;
        background: url(../Imagenes/FondoHerramientas.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }





    </style>
